<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noddy App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat&display=swap">
    </head>

<body>
    <nav class="py-1 navbar navbar-expand-lg navbar-light bg-danger">
        <a class="navbar-brand text-white ml-4" href="/"><b>Noddy App</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="mr-5">
                <ul class="navbar-nav mr-auto mr-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Se connecter</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Créer un compte</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/post/new">Create a New Post</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
